body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #0000;
    color: #333;
    direction: rtl;
    text-align: center;
}

header {
    background-color: #800080;
    color: white;
    padding: 30px;
    font-size: 40px;
}

.content {
    margin: 30px auto;
    width: 80%;
}

.section-title {
    color: #800080;
    font-size: 30px;
    text-align: center;
}

.content p {
    font-size: 18px;
    color: #5a5a5a;
}

.box {
    background-color: #fbe4f0;
    margin: 50PX auto;
    width: 95%;
    padding: 20px;
}


.box p {
    color: #555;
    font-size: 20px;
  
}
