
body {
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fccade;
  color: #4a148c;
}


.main-header {
  background-color: #6a1b9a; 
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  background-color: #6a1b9a; 
  border-bottom: 1px solid #ccc; 
}

.logo {
  height: 60px;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  color: #fccade;
}


.login-link {
  text-decoration: none;
  color: #6a1b9a;
  background-color: #fccade;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
}

.login-link:hover {
  background-color: #ff96c0;
}


.latest-products {
  padding: 2rem;
  text-align: right;
}

.latest-products h2 {
  color: #6a1b9a;
  margin-bottom: 1.5rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product-card {
  background-color: #fce4ec;
  border: 1px solid #f8bbd0;
  border-radius: 15px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.product-card h3 {
  margin: 0.5rem 0 0.3rem;
}

.product-card span {
  font-weight: bold;
  color: #880e4f;
}


footer {
  background-color: #6a1b9a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
